body {
    background-color: plum;
}

/* @media (width <= 400px) {
    body {
        background-color: skyblue;
    }
} */

/* @media (width <= 200px) {
    body {
        background-color: bisque;
    }
} */

@media (min-width: 400px) and (max-width: 600px) {
    body {
        background-color: blue;
    }
}

@media (200px <= width <= 300px) {
    body { 
        background-color: brown;
    }
}